
/* Globally hide scrollbars */
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}

*{
  margin:0px;
  padding:0px;
  color: rgb(255, 255, 255);
}
body{
  width:100vw;
  background-color: rgb(60, 60, 60);
}
