

.student-homepage {

  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  color: black;

}





.student-homepage aside button {
  background-color: white;
  color: black;
}

.student-aside-pure {
  width: 25%;
  top: 0px;
  bottom: 0px;
  background-color: rgb(0, 225, 255);
  height:100%;
  position:fixed;
  left: -100%;
  transition: left 0.3s ease-in-out;
}
.student-aside-overlay {
  display: block;
  width: 100%;
  height:100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: -10;
}


.student-homepage {
  position: fixed;
  width: 100%;
}
.student-navbar{
  position: sticky;
  width: 100%;
  height: calc(90px + 1%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 132, 255);
}


.student-navbar > * {
  font-size: calc(5px + 0.5vw);
  padding-inline: calc(1px + 0.1vw);
  margin-inline: calc(1px + 0.1vw);
  min-width: max-content;
  width: 10vw;
  height: 70%;
  /* background-color: red; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-navbar :nth-child(1)  {
  
}
.student-navbar :nth-child(2) select option {
  font-size: calc(25px + 0.5vw);;
}
.student-navbar :nth-child(3) {
  /* width: 50%; */
}
.student-navbar :nth-child(4) {

}



.student-navbar :nth-child(1) button {
  height: 100%;
  width: 100%;
}
.student-navbar :nth-child(1) button section {
  display: flex;
  flex-direction: column;
  width: 50px;
  height:1px;
  margin-block: 3px;
  background-color: black;
}



/* .student-navbar :nth-child(2) > * {
  position: absolute;
  width: calc(50px + 0.1vw);
  height: calc(50px + 0.1vw);
  background-color: white;
  border-radius: 50%;

} */
.student-navbar :nth-child(2) select {

  /* width: 100%; */
  max-width: 30vw;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  color: rgb(0, 103, 200);
  border-color: rgb(0, 103, 200);


}
.student-navbar :nth-child(3) ul {
  box-sizing: border-box;
  overflow-x: scroll;
  list-style: none;
  width: 100%;
  max-width: 30vw;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  color: rgb(0, 103, 200);
  border-color: rgb(0, 103, 200);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.student-navbar :nth-child(3) ul > * {
  flex: 0 0 auto;       
  white-space: nowrap;  
  overflow: hidden;     
  text-overflow: ellipsis; 
  text-align: center;  
}
.student-navbar :nth-child(1) button {
  height: 100%;
  width: 100%;
  background-color: #006fdf;
  font-weight: bold;
  display: flex;
  width: max-content;
  justify-content: center;
  flex-direction: column;
}
.student-navbar :nth-child(4) button {
  height: 100%;
  width: 100%;
  background-color: #006fdf;
  font-weight: bold;
}


.student-body {
  height: calc(90px + 1%);
}
