
















.StudentBody{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.StudentBody >*{
    margin: 0px;

}







.student-subjectsdivgrid{
    width:90%;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow:0px 5px 15px 5px rgb(129, 129, 129);
}
.student-subjectsdivgrid ul{
    display: flex;
    list-style: none;
    overflow-x: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* align-self: stretch; */
}
.student-subjectsdivgrid ul > * {
    margin: 20px;
    border-radius: 0px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgb(129, 129, 129);
    /* flex: 1; */
    height: 100%;


}