

.file-grid-student {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 70px;
  overflow-y: auto;
  height: 100%;
}

.file-card-student {
    font-size: clamp(20px,2rem,30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: #efefef;
  border-radius: 8px;
  padding: 12px;
  text-decoration: none;
  color: black;
  width: max-content;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out, background-color 0.1s, box-shadow 0.1s;
}

.file-card-student:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);

}

iframe .iframe {
    
}