/*admin-main*/


.admin-main {
  background-color: #000000;
  min-height: 720px;
  min-width: 405px;
  border: none;
  display: flex;
  flex-direction: column;
}
.admin-main-header{
  width: 100%;
  background-color: black;
  height: clamp(80px,10vh,160px);
  font-size: clamp(40px,15vw,80px);
  display: flex;
  justify-content: start;
  position: fixed;
  z-index: 1;
  top: 0;
  
}
.admin-main-header > *{
  border-bottom: 1px solid white;
  border-radius: 0px;
  height: 100%;
  
}
.admin-main-header > :nth-child(1){
 flex: 3;
}

.admin-main-body{
  background-color: #000000;
  border: none;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  margin-top: clamp(120px, 12vh, 200px);
}








/*signin-box*/

.admin-main-body .signin-box {
  width: 300px;
  height: 400px;
  background-color: black;
  border: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
}


.signin-box form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  /* height: 90%; */
  padding: 10px;
  box-sizing: border-box;
  background-color: #000000;
}
.signin-box form input{
  display: block;
  color: white;
  height: 40px;
  font-size: 18px;
}
.signin-box form input[type=submit]{
  color: white;
  height: 40px;
}
.signin-box form input[type=submit]:hover{
  color: white;
  height: 40px;
}




/*admin-dashboard*/
.admin-main-body .admin-dashboard-main{

  width: 100%;
  height: max-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.admin-main-body .admin-dashboard-main .title{
  display: flex;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
}
.admin-main-body .admin-dashboard-main .title div{
  font-size: clamp(12px,7vw,20px);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: white;
}
.admin-main-body .admin-dashboard-main .title div > *{

  color: rgb(255, 0, 0);
}

.admin-main-body .admin-dashboard-main .admin-dashboard-content{
  min-height: 50px;
  width: 90%;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  
}
.admin-dashboard-content .subjectbar{

  box-sizing: border-box;
  width: 100%;
  /* height: 35px; */
  display: flex;
  gap: 4px;
  overflow-x: auto;
  /* box-sizing: border-box; */
  padding: 5px;
  background-color: rgb(0, 0, 0);
  position: sticky;
}
.admin-dashboard-content .subjectbar >*{
  flex: 0 0 auto; 
  width: 100px;
  height: 40px;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
}
.admin-dashboard-content .subject-container{
  flex: 1;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  height: max-content;
  min-height: calc(80vh - 35px);
  width: 90%;
  display: flex;
  flex-direction: column;
}

.subject-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.subject-container .upload-section{
  height: calc(90vh / 3.5);
  background-color: rgb(0, 0, 0);
  width: 90%;
  display: flex;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
}
.subject-container .list-files-section{
  flex: 4;
  background-color: black;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  width: 90%;
  padding: 10px;
}
.subject-container .list-files-section>*{
  width: 100px;
  height: 100px;
  flex-grow: 1;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}
.upload-section .upload-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  
}

.upload-form .file-branch-section{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 15px;
}
.file-branch-section input[type="radio"]{
  width: 25px;
  height: 25px;
}
.upload-section{
  display: flex;
  justify-content: center;
  align-items: center;
}










.file-card-admin{
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s ease-in;
  justify-content: center;
  align-items: center;
}
.file-card-admin > :nth-child(1){
  flex: 2;
}
.file-card-admin > :nth-child(2){
  flex: 1;
}
.file-card-admin > :nth-child(3){
  flex: 1;
}

.fade-out{
  opacity: 0;
}