/*admin-main*/


.admin-main {
  background-color: #000000;
  min-height: 720px;
  min-width: 100vw;
  width: 100vw;
  border: none;
  display: flex;
  flex-direction: column;
}
.admin-main-header{
  width: 100%;
  background-color: black;
  height: clamp(80px,10vh,160px);
  font-size: clamp(40px,15vw,80px);
  display: flex;
  justify-content: start;
  position: fixed;
  z-index: 3;
  /* position: sticky; */
  
}
.admin-main-header > *{
  border-bottom: 1px solid white;
  border-radius: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.admin-main-header > :nth-child(1){
 flex: 3;
}

.admin-main-body{
  background-color: #000000;
  border: none;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  margin-top: clamp(100px,11vh,180px);

}








/*signin-box*/

.admin-main-body .signin-box {
  width: 300px;
  height: 400px;
  background-color: black;
  border: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
}


.signin-box form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  /* height: 90%; */
  padding: 10px;
  box-sizing: border-box;
  background-color: #000000;
}
.signin-box label{
  display: block;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}
.signin-box form input{
  display: block;
  color: white;
  height: 40px;
  font-size: 18px;
}
.signin-box form input[type=submit]{
  color: white;
  height: 40px;
}
.signin-box form input[type=submit]:hover{
  color: white;
  height: 40px;
}




/*admin-dashboard*/
.admin-main-body .admin-dashboard-main{

  width: 100%;
  height: max-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 15px;
}
.admin-main-body .admin-dashboard-main .title{
  display: flex;
  width: 90%;
  padding: 0px;
  box-sizing: border-box;
  justify-content: space-between;
}
.admin-main-body .admin-dashboard-main .title div{
  font-size: clamp(12px,7vw,20px);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: white;
}
.admin-main-body .admin-dashboard-main .title div > *{

  color: rgb(255, 0, 0);
}

.admin-main-body .admin-dashboard-main .admin-dashboard-content{
  min-height: 50px;
  width: 90%;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  
}
.admin-dashboard-content .subjectbar{

  box-sizing: border-box;
  width: 100%;
  /* height: 35px; */
  display: flex;
  gap: 4px;
  overflow-x: auto;
  /* box-sizing: border-box; */
  padding: 5px;
  background-color: rgb(0, 0, 0);
  position: sticky;
}
.admin-dashboard-content .subjectbar >*{
  flex: 0 0 auto; 
  width: 100px;
  height: 40px;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
}
.admin-dashboard-content .subject-container{
  flex: 1;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  height: max-content;
  min-height: calc(80vh - 35px);
  width: 90%;
  display: flex;
  flex-direction: column;
}

.subject-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.subject-container .upload-section{
  min-height: max-content;
  background-color: rgb(0, 0, 0);
  width: 90%;
  display: flex;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
}
.subject-container .list-files-section{
  flex: 4;
  background-color: black;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  width: 90%;
  padding: 0px;
  margin-bottom: 15px;
}
.subject-container .list-files-section>*{
  width: 100px;
  height: 100px;
  flex-grow: 1;
  background-color: #3c3c3c;
  border-radius: 2px;
  box-shadow:0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255,0.3);
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}
.upload-section .upload-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  
}

.upload-form .file-branch-section{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 15px;
}
.file-branch-section input[type="radio"]{
  width: 25px;
  height: 25px;
}
.upload-form input[type="submit"]{
  background-color: green;
}
.upload-form input[type="file"]{
  width: 50%;
}
.upload-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-section .upload-form input[type="text"]{
  display: block;
  border-right: 1px solid #3c3c3c;
  border-radius: 2px;
  background-color: #000000;
  color: white;
  height: 20px;
  width: 95%;
  font-size: 18px;
}

.upload-form .loading-svg-container{
  display: flex;
  align-items: end;
  height: 100%;
}










.file-card-admin{
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s ease-in;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  min-height: 300px;
  min-width: 100%;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  font-size: 10px;

}
.file-card-admin > :nth-child(1){
  flex: 1;
}
.file-card-admin > :nth-child(2){
  display: flex;
  min-width: max-content;
  min-height: max-content;
  width: max-content;
  height: max-content;
  justify-self: center;
  align-items: center;
  /* flex: 5; */
}
.file-card-admin > :nth-child(2) > iframe{

}
.file-card-admin > :nth-child(3){
  flex: 1;
}

.fade-out{
  opacity: 0;
}